# Ignore virtual environments
venv/

# Python bytecode files
__pycache__/
*.pyc
*.pyo

# IDE or editor-specific files (you can add more depending on what you're using)
.vscode/
.idea/

# Environment variables or config files (if applicable)
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# MacOS specific files (if applicable)
.DS_Store

# Windows specific files (if applicable)
Thumbs.db

